.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 20px;
    border-radius: 5px;
  }
  
  .errorIcon {
    font-size: 50px;
  }
  
  .errorMessage {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
  